<div class="row justify-content-md-center">
  <div class="col-sm-10">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
      <p class="navbar-brand" style="color: white;">PhpMybudget</p>
      <!--xsl:if test="$niveau1!=''">
        <p class="navbar-text" style="color: white;">/</p>
        <p class="navbar-text" style="color: white;"><xsl:value-of select="$niveau1"/></p>
      </xsl:if-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-item nav-link active" href="/listecomptes" style="color: white;">
            Comptes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link active" href="index.php?domaine=flux&amp;service=getpage" style="color: white;">
            Flux
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link active" href="index.php?domaine=segment" style="color: white;">
            Paramétrage
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link active blanc" href="index.php?domaine=periode" style="color: white;">
            Période
          </a>
        </li>
      </ul>
      </div>
    </nav>
  </div>
</div>
