<app-menu></app-menu>
<br>
<div class="row">
  <aside class="col formulaire">
    <form name="form" (ngSubmit)="f.form.valid && rechercheFlux()" #f="ngForm" novalidate>
      <br/>

      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group" style="float:right;">
          <button type="submit" class="btn btn-primary" id="editerFluxBtn" name="editerFluxBtn" style="font-size:20px;">
            <span class="oi oi-plus"></span>
          </button>
        </div>
      </div>
      <div class="form-group">
        <label for="comptePrincipal" class="form-control-label">Compte principal</label>
        <select class="form-control" id="comptePrincipal" name="comptePrincipal" [(ngModel)]="model.comptePrincipal" #comptePrincipal="ngModel">
          <option [ngValue]="null"></option>
          <option *ngFor='let compte of listeComptes; let i=index' value="{{compte.numeroCompte}}">
            {{ compte.libelle }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="compteDestination" class="form-control-label">Compte destination</label>
        <select class="form-control" id="compteDestination" name="compteDestination" [(ngModel)]="model.compteDestination" #compteDestination="ngModel">
          <option></option>
          <option *ngFor='let compte of listeComptes; let i=index' value="{{compte.numeroCompte}}">
            {{ compte.libelle }}
          </option>
        </select>
      </div>
    </form>
    <br/>
  </aside>
  <div class="col-10">
    <table class="table table-striped table-bordered" id="tableauResultat">
      <thead>
        <tr class="entete">
          <th>Flux</th>
          <th>Description</th>
          <th class="text-center">Compte principal</th>
          <th class="text-center">Compte destination</th>
          <th colspan="2" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let flux of listeFlux; let i = index;'>
          <td>{{ flux.flux }}</td>
          <td>{{ flux.description }}</td>
          <td>{{ flux.compteId }}</td>
          <td>{{ flux.compteDest }}</td>
          <td class="text-center">
            <!--button class="btn btn-outline-primary" (click)="open(content, flux.fluxId)">
              <span class="oi oi-pencil"></span>
            </button-->
            <a (click)="open(content, flux.fluxId)"><span class="oi oi-pencil javascript"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <app-pagination [totalPage]="totalPage" [page]="page" (sendMessage)="onSendMessage($event)"></app-pagination>
    <!--xsl:call-template name="paginationJson">
      <xsl:with-param name="formulairePrincipal" select="'recherche'"/>
    </xsl:call-template-->
  </div>
</div>

<ng-template #content let-modal>
  <form name="form" #f="ngForm" novalidate>
    <input type="hidden" id="fluxId" name="fluxId" [(ngModel)]="model.fluxId" #fluxId="ngModel"/>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ titrePopup }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container popup_operation">
        <div class="col-lg-12">
          <div class="form-group row">
            <label for="flux" class="col-sm-6 form-control-label">Flux</label>
            <div class="col-sm-6">
              <input class="form-control obligatoire" type="text" name="flux" id="flux" [(ngModel)]="model.flux" #flux="ngModel"/>
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-sm-6 form-control-label">Description</label>
            <div class="col-sm-6">
              <input class="form-control" type="text" name="description" id="description" [(ngModel)]="model.description" #description="ngModel"/>
            </div>
          </div>

          <div class="form-group row">
            <label for="modePaiementId" class="col-sm-6 form-control-label">Mode de paiement</label>
            <div class="col-sm-6">
              <select class="form-control" name="modePaiementId" id="modePaiementId" [(ngModel)]="model.modePaiementId" #modePaiementId="ngModel">
              <option></option>
              <option *ngFor='let segment of listeModePaiement;' value="{{segment.codseg}}">{{ segment.liblong }}</option>
            </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="compteId" class="col-sm-6 form-control-label">Compte principal</label>
            <div class="col-sm-6">
              <select class="form-control obligatoire" name="compteId" id="compteId" onchange="afficheFluxSelect('fluxMaitreId', $(this).val(), 'fluxMaitre=O')" [(ngModel)]="model.compteId" #compteId="ngModel">
                <option *ngFor='let compte of listeComptes; let i=index' value="{{compte.numeroCompte}}">
                  {{ compte.libelle }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="compteDest" class="col-sm-6 form-control-label">Compte de destination</label>
            <div class="col-sm-6">
              <select class="form-control" name="compteDest" id="compteDest" [(ngModel)]="model.compteDest" #compteDest="ngModel">
                <option></option>
                <option *ngFor='let compte of listeComptes; let i=index' value="{{compte.numeroCompte}}">
                  {{ compte.libelle }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="fluxMaitre" class="col-sm-6 form-control-label">Statut maitre</label>
            <div class="col-sm-6">
              <input class="form-control form-control-checkbox" type="checkbox" id="fluxMaitre" name="fluxMaitre" [(ngModel)]="model.fluxMaitre" #fluxMaitre="ngModel" ng-true-value="'O'" ng-false-value="'N'"/>
            </div>
          </div>

          <div class="form-group row">
            <label for="fluxMaitreId" class="col-sm-6 form-control-label">Flux maitre</label>
            <div class="col-sm-6">
              <select class="form-control" name="fluxMaitreId" id="fluxMaitreId" [(ngModel)]="model.fluxMaitreId" #fluxMaitreId="ngModel">
                <option></option>
                <option *ngFor='let flux of listeFluxMaitre' value="{{ flux.fluxId }}">
                    {{flux.flux}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="entreeEpargne" class="col-sm-6 form-control-label">Entrée épargne</label>
            <div class="col-sm-6">
              <input class="form-control form-control-checkbox" type="checkbox" id="entreeEpargne" name="entreeEpargne" [(ngModel)]="model.entreeEpargne" #entreeEpargne="ngModel"/>
            </div>
          </div>

          <div class="form-group row">
            <label for="sortieEpargne" class="col-sm-6 form-control-label">Sortie épargne</label>
            <div class="col-sm-6">
              <input class="form-control form-control-checkbox" type="checkbox" id="sortieEpargne" name="sortieEpargne" [(ngModel)]="model.sortieEpargne" #sortieEpargne="ngModel"/>
            </div>
          </div>

          <div class="form-group row">
            <label for="depense" class="col-sm-6 form-control-label">Dépense</label>
            <div class="col-sm-6">
              <select class="form-control" name="depense" id="depense" [(ngModel)]="model.depense" #depense="ngModel">
                <option value="O">Oui</option>
                <option value="N">Non</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click', form)">Save</button>
    </div>
</form>
</ng-template>
